<?xml version="1.0" encoding="windows-1252"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Trabajo POM Tests">
    <test name="Tests POM">
        <classes>
            <class name="tests.Test">
                <methods>
                    <include name="CP001_accesoAPreguntasFrecuentes"/>
                    <include name="CP002_localizarPreguntaFrecuente"/>
                    <include name="CP003_filtroBuscarProducto"/>
                    <include name="CP004_volverAPantallaPrincipal_ClickEnLogo"/>
                    <include name="CP005_productoBazarMenu"/>
                    <include name="CP006_productoOrganizacionMenu"/>
                    <include name="CP007_productoEscritorioMenu"/>
                    <include name="CP008_productoViniloMenu"/>
                    <include name="CP009_creacionCtaGorsh_MailExistente"/>
                    <include name="CP010_ingresarPassErroneaMiembros"/>
                    <include name="CP011_ingresarmailincompletoMiembros"/>
                    <include name="CP012_ingresarMiembrosGorsh"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>